@model CategoryDto

<div class="mt-3">
    <form method="post" class="row g-3 needs-validation" novalidate>
      <div class="col-md-4">
        <input asp-for="Id" type="number" hidden="hidden"/>
        <label for="validationCustom01" class="form-label">Category name</label>
        <input asp-for="CategoryName" type="text" class="form-control" id="validationCustom01" placeholder="Enter category name" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Description</label>
        <input asp-for="Description" type="text" class="form-control" id="validationCustom02" placeholder="Enter description" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-warning" type="submit">Edit</button>
      </div>
    </form>
</div>